---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { AddToCartBtn } from "./AddToCartBtn";

const { product } = Astro.props;

const prices = await getCollection("prices");

// biome-ignore lint/style/noNonNullAssertion: The price must exists
const price = prices.find(
  (price) => price.data.id === product.data.default_price,
)!;
---

<div class="flex flex-col">
  <a href={`/comics/${product.id}`}>
    <figure>
      <Image
        class="shadow-md rounded-md"
        src={product.data.images[0]}
        alt={product.data.name}
        loading="lazy"
        decoding="async"
        width={500}
        height={500}
      />
    </figure>
  </a>
  <div class="mt-4 mb-6 space-y-2">
    <h1 class="text-xl font-bold">{product.data.name}</h1>
    <p class="text-sm">{`$${price.data.unit_amount / 100} MXN`}</p>
    <AddToCartBtn product={product} price={price} client:load />
  </div>
</div>
